<!DOCTYPE html>
<html>
<head>
    <title>Форма входа</title>
</head>
<body>
<h2>Форма входа</h2>
<form action="http://localhost:8081/auth/login" method="post">
    <label for="username">Имя:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Пароль:</label>

    <input type="password" id="password" name="password" required>


    <input type="submit" value="Вход">
</form>
<a href="http://localhost:8081/auth/hi">hi</a>
</body>
<script type="text/javascript" src="../static/login.js"></script>
</html>